<mat-card class="card-form-cadastro">
  <mat-card-header>
    <mat-card-title>Cadastro de Animais de Estimação</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content-cadastro">

    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput type="number" [(ngModel)]="animalTratamento.id" placeholder="id do pet" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="animalTratamento.nome" placeholder="nome do pet" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <input matInput [(ngModel)]="animalTratamento.tipo" placeholder="tipo do animal" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Nascimento</mat-label>
      <input matInput type="date"  [(ngModel)]="animalTratamento.dataNascimento" placeholder="data de nascimento do pet" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dono</mat-label>
      <input matInput [(ngModel)]="animalTratamento.dono" placeholder="nome do dono do pet" />
    </mat-form-field>

  </mat-card-content>

  <mat-card-footer>

    <button
      mat-raised-button 
      color="primary"
      (click)="cadastrar()"
      class="card-footer-cadastro"
    > 
      cadastrar 
    </button>
    
  </mat-card-footer>

</mat-card>  

<div class="mensagem-erro" *ngIf="mostrarErro">
  {{ mensagemErro }}
  <button mat-icon-button color="basic" (click)="limparErro()"><mat-icon>close</mat-icon></button>
</div>
<!-- Botão para listar animais cadastrados -->

<form *ngIf="mostrarFormularioEdicao" (submit)="atualizar()" class="formulario-edicao">
  <h2>Editar Animal de Estimação</h2>
  <div class="inputs">
    Id: <input readonly type="number" [(ngModel)]="animalTratamento.id" name="id" />
    Nome: <input [(ngModel)]="animalTratamento.nome" name="nome" />
    Tipo: <input [(ngModel)]="animalTratamento.tipo" name="tipo" />
    Data de Nascimento: <input type="date" [(ngModel)]="animalTratamento.dataNascimento" name="dataNascimento" />
    Dono: <input [(ngModel)]="animalTratamento.dono" name="dono" />
  </div>
  <button mat-raised-button color="accent" type="submit">Salvar</button>
</form>

<div class="botao-listar">
  <mat-badge [matBadge]="numeroDeAnimais" matBadgePosition="above after">
    <button mat-raised-button color="basic" (click)="listarAnimais()">Listar Animais Cadastrados</button>
  </mat-badge>
</div>


<!-- Área para exibir a lista de animais (mostrada somente quando o botão é clicado) -->
<div *ngIf="exibirListaAnimais" class="listagem-animais">
  <h3>Lista de Animais Cadastrados</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Data de Nascimento</th>
        <th>Dono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animais">
        <td>{{ animal.id }}</td>
        <td>{{ animal.nome }}</td>
        <td>{{ animal.tipo }}</td>
        <td>{{ animal.dataNascimento }}</td>
        <td>{{ animal.dono }}</td>
        <td><button mat-mini-fab color="accent" (click)="editar(animal)"><mat-icon>edit</mat-icon></button></td>
        <td><button mat-mini-fab color="warn" (click)="remover(animal)"><mat-icon>delete</mat-icon></button></td>
      </tr>
    </tbody>
  </table>
</div>



